# Binaries
**/bin/
**/build/
**/lib/
**/lib64/
**/dist/
**/downloads/
**/*.exe
**/*.exe~
**/*.dll
**/*.so
**/*.dylib

# Distribution / packaging
.Python
**/develop-eggs/
**/eggs/
**/.eggs/
**/*.egg
**/*.egg-info/
**/parts/
**/sdist/
**/var/
**/wheels/
**/.installed.cfg

# PyInstaller
*.manifest
*.spec
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
coverage.json
coverage.lcov
*.cover
.hypothesis/
.pytest_cache/

# Virtual environments
**/venv/
**/.venv
**/env/
**/.env
**/ENV/

# IDEs
**/*.swp
**/*.swo
**/*~

# OS
**/.DS_Store
**/Thumbs.db

# Logs
**/*.log
