name: CI

on:
  push:
    branches: [ main, master, develop ]
  pull_request:
    branches: [ main, master, develop ]

permissions:
  contents: read
  pull-requests: read
  checks: write
  actions: read

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Checkout repository
      # https://github.com/actions/checkout/releases - Latest: v4.2.2 (2024-10-31)
      uses: actions/checkout@v4
    - uses: ./.github/actions/project-setup
    - uses: ./.github/actions/project-lint

  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Checkout repository
      # https://github.com/actions/checkout/releases - Latest: v4.2.2 (2024-10-31)
      uses: actions/checkout@v4
    - uses: ./.github/actions/project-setup
    - uses: ./.github/actions/project-test

  benchmark:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Checkout repository
      # https://github.com/actions/checkout/releases - Latest: v4.2.2 (2024-10-31)
      uses: actions/checkout@v4
    - uses: ./.github/actions/project-setup
    - uses: ./.github/actions/project-benchmark
