name: CI

on:
  push:
    branches: [ main, master, develop ]
  pull_request:
    branches: [ main, master, develop ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: ./.github/actions/project-setup

    - uses: ./.github/actions/project-lint

  test:
    runs-on: ubuntu-latest

    steps:
    - uses: ./.github/actions/project-setup

    - uses: ./.github/actions/project-test
